@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  @apply bg-background;
}

body {
  @apply bg-background;
}

.hr_grad {
  border: none;
  height: 1px; /* Adjust the height as needed */
  background-image: radial-gradient(circle, rgba(51,175,83,1) 10%, rgba(0,0,0,0) 90%);
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: white;
  font-family: 'Inter', sans-serif;
  text-align: center;
  border: 2px solid #33AF53;
  border-radius: 12px;
}

.line {
  transition: stroke-dashoffset 0.1s linear;
}

.circle {
  transition: transform 0.1s linear;
}

.transition-all {
  transition: all 0.5s ease-out;
}

.tab_container {
  /* background-image: url('assets/Green3DVertex.png'); */
  background-origin: border-box;
  background-size: auto;
  background-repeat: no-repeat;
}

.shiny_background {
  background-color: rgba(45, 45, 45, 0.862);
  backdrop-filter: blur(5px);
}

.shiny2_background {
  background-color: rgba(45, 45, 45, 0.031);
  backdrop-filter: blur(1px);
}

.twin_section {
  background-image: url('./assets/background-sim.webp');
  background-color: #171717c0;
  background-blend-mode: multiply;
}

.button_grid {
  border-top: #33af5264 solid 1px;
  border-bottom: #33af5264 solid 1px;
  border-inline: #33af5264 solid 1px;

}

.grid_dummy {
  border-top: #33af5264 solid 1px;
  border-bottom: #33af5264 solid 1px;

}

.text_grid {
  border-bottom: #33af5264 solid 1px;
  border-inline: #33af5264 solid 1px;
}

.grid_cont {
  grid-template-rows: 1fr 2fr 1fr;
}

.stats_grid {
  border-bottom: #33af5264 solid 1px;
  border-inline: #33af5264 solid 1px;
}

.icon-grid {
  border-right: 1px solid #33af5264;
  border-bottom: 1px solid #33af5264;
}

.grid_dummy-none {
  border: none;
}

.grid_dummy-bottom {
  border-bottom: #33af5264 1px solid;
}


.blob {
  filter: blur(70px);
}

.blob_3 {
  filter:blur(50px);
}

.blur-el {
  filter: blur(50px);
}

@media screen and (min-width: 768px) {

.left_align {
  left: 27%;
}

.left_align_1 {
  left: 30%;
}

.right_align_1 {
  right: 28%;
}
.right_align {
  right: 27%;
}

.expand_card {
  opacity: 100%;
}
}


@media only screen and (max-width: 1024px) {
   .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100dvw;
    z-index: 100;
    background-color: #171717;
    transition: 0.5s ease-in-out;
    scale: 0;
    opacity: 0;
   }
   .navbar ul {
    width: 100%;
   }

   .navbar li {
    width: 100%;
    padding-inline: 10%;
    padding-block: 5%;
    transition: 0.5s ease-in-out;
   }


   .navbar > ul li:nth-child(4) {
    background-color: #33AF53;
   }

   .nav_close {
    position: absolute;
    top: 2%;
    right: 5%;
   }

   .responsive_nav {
    scale: 1;
    opacity: 1;
   }

   .grid_cont {
    grid-template-rows: 1fr 1fr 1fr;
   }
} 

.bg_sim {
  background-image: url('./assets/sim_vertex.png');
  background-size: contain;
}

